<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo center"><h3>SummonerStats</h3></a>
    <ul class="right hide-on-med-and-down">
      <li>
        <% if current_user %>
          <a href="/logout">Logout</a>
        <% end %>
      </li>
    </ul>
    <ul class="left hide-on-med-and-down">
      <li>
      </li>
    </ul>
  </div>
</nav>
