<div class="container-fluid center">
  <h1>Stats Comparison for:
    <br>
    <%= @user.summoner_name %> Vs. <%= @pro_stats.summoner_name %>
    <br>
    Kills / Deaths / Assists / KDA
  </h1>
  <%= high_chart("test", @chart) %>
</div>
