/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: "Imperator";
  src: "/assets/Imperator.ttf" format("truetype");
}

body {
  background-color: #E3DFBA;
  font-family: "Imperator";
}

h1 {
  color: #1182AB;
  text-shadow: 1px 1px black;
}

h2 {
  color: #1182AB;
}

h3 {
  color: #1A1F1E;
}

h4 {
  color: #1A1F1E;
}

h6 {
  color: #1A1F1E;
  font-size: 24px;
}

.btn {
  background-color: #1A1F1E;
}

.text-match-background {
  color: #E3DFBA;
}

.match-background {
  background-color: #E3DFBA;
}

.match-navbar {
  background-color: #1182AB;
}

.kda {
  font-size: 24px;
}
