/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: "Imperator";
  src: "/assets/Imperator.ttf" format("truetype");
}

body {
  background-color: #E3DFBA;
  font-family: "Imperator";
}

h1 {
  color: #1182AB;
  text-shadow: 1px 1px black;
}

h2 {
  color: #1182AB;
}

h3 {
  color: #1A1F1E;
  font-size: 55px;
}

h4 {
  color: #1A1F1E;
}

h6 {
  color: #1A1F1E;
  font-size: 24px;
}

.btn {
  background-color: #1A1F1E;
}

.text-match-background {
  color: #E3DFBA;
}

.match-background {
  background-color: #E3DFBA;
}

.match-navbar {
  background-color: #1182AB;
}

.kda {
  font-size: 24px;
}

.min-text-size {
  font-size: 20px;
}

.chart {
  border: 5px outset #1182AB;
  background-color: #1182AB;
  padding: 20px;
}

.charts-versus {
  border: 5px outset #1182AB;
  background-color: #1182AB;
  padding: 30px;
  max-width: 45vw;
  margin: auto;
  color: #E3DFBA;
  font-size: 50px;
}

.free-champs {
  max-width: 90vw;
  margin: auto;
}

.background-lower-image {
  position: absolute;
	max-width: 100vw;
  bottom: 0%;
	left: 0%;
}

.background-lower-image-float {
  position: relative;
  max-width: 100vw;
  bottom: -10px;
  left: 0%;
}

.heimer-poro {
  position: fixed;
  height: 350px;
  width: 350px;
  bottom: -5vh;
  left: 0vw;
}

.braum-poro {
  position: fixed;
  height: 350px;
  width: 350px;
  bottom: -5vh;
  left: 39vw;
}

.draven-poro {
  position: fixed;
  height: 350px;
  width: 350px;
  bottom: -5vh;
  right: 0vw;
}

.random-poro {
  position: fixed;
  bottom: 0vh;
  right: 0%;
}
