<div class="container-fluid center">
  <h1>Free Champions</h1>
    <ul class="collection">
    <%= render partial: "partials/free_champion_card", collection: @free_champions, as: :free_champion %>
    </ul>
</div>
